.btn-xlarge {
  padding: 30px 30px;
  font-size: 25px;
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      border-radius: 8px;
}

.timezone{
	color:grey;
	font-size: 10px;
}

table tr:nth-child(odd) {
  background-color: #eaedf1;
}
table tr:nth-child(even) {
   background-color:#f9fafb;
}

.bannerlogo{
  width: 35px;
  height: 35px;
  margin-top: -5px;
}

.logoboxes{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


.pub_image {
  margin-bottom: 50px;
  margin-left: 20px;
  padding-left: 30px;
  padding-top: 10px;
  z-index: 1;
}
