doctype html
html
  head
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')


    script(src='/viewer/docs/src/js/objFileContents.js')
    script(src='/viewer/docs/src/js/lib/three.js')
    script(src='/viewer/docs/src/js/lib/THREEx.KeyboardState.js')
    script(src='/viewer/docs/src/js/viewer.js')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
  body
    #content(style='width:500;height:500;cursor:pointer;overflow:hidden')
      #container
        script.
          var name = "<%=name%>";
          const model= "!{modelName}/";
          const id = "!{modelId}"==="null" ? '/' : "!{modelId}/";
          const type="!{type}";
          const path = "/viewer/docs/user_output/" + model;$('#container').viewer(path, type, 490, 490);
